*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  overflow-x: hidden;
}

body{
  background-color: black;
  width: 100%;
  color: white;
  overflow-x: hidden;
}

nav{
  width: 100%;
}

header{
  width: 100%;
}

#nav-div{
  position: absolute;
  padding-top: 20px;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 130px;
  padding-right: 130px;
}

#nav-logo{
  width: 200px;
}

#language{
  height: 32px;
  width: 122.8px;
  padding-left: 10px;
  border-radius: 3px;
}

#sign-in-button{
  height: 32px;
  width: 70px;
  background-color: red;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 3px;
}

#sign-in-button:hover {
  background-color: #e50914;
  cursor: pointer;
}

#sign-in-button:active {
  background-color: #b0060e;
}

#sign-in-div{
  display: flex;
  gap: 10px;
  align-items: center;
}

#hero-text {
  height: 100vh;
  width: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(Images/Backdrop.webp) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#heading{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}

#get-started{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h1{
  font-size: 56px;
  font-family: sans-serif;
  font-weight: bolder;
}

h3{
  font-family: sans-serif;
}

h4{
  font-family: sans-serif;
}

#email{
  width: 374px;
  height: 56px;
  padding: 20px;
  border-radius: 3px;
}

#get-started-button{
  background-color: red;
  padding: 10px;
  color: white;
  border: none;
  height: 56px;
  width: 207px;
  margin-left: 5px;
  border-radius: 3px;
}

#get-started-button:hover{
  background-color: #e50914;
  cursor: pointer;
}

#get-started-button:active{
  background-color: #b0060e;
}

.section{
  width: 80vw;
  margin: 100px auto;
  overflow: hidden;
}

.section-head{
  margin-bottom: 40px;
  font-size: 25px;
}

#trend-sec {
  position: relative;
}


#trending-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-left: 25px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.trending{
  border-radius: 7px;
  position: relative;
  width: 200px;
  height: 300px;
  flex-shrink: 0;
}

.trending img {
  position: relative;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending span{
  position: absolute;
  bottom: 0;
  left: -35px;
  font-size: 150px;
  background-color: transparent;
}

#trending-div::-webkit-scrollbar {
  display: none;
}

#reasons-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.trending:hover{
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.reasons{
  background-color:#664ac046;
  width: 280px;
  height: 300px;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 7px;
}

.reason-head{
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: sans-serif;
}

.reason-content{
  font-size: medium;
  font-family: sans-serif;
}

details{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#email-again{
  width: 100vw;
  text-align: center;
  margin-bottom: 100px;
}

#email-again h4{
  margin-bottom: 10px;
}

#footer-head{
  padding: 30px;
  width: 100vw;
}

#footer-links{
  color: gray;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

a{
  color: gray;
}

.text-border {
  color: black;
  -webkit-text-stroke: 3px white;
  font-weight: 900;
  font-size: 3rem;
}

.accordion {
  width: 80vw;
  margin: 2rem auto;
  font-family: sans-serif;
}

.accordion details {
  margin: 8px 0;
  overflow: hidden;
  padding-left: 0;
}

.accordion summary {
  height: 100px;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 14px 16px;
  border: 1px solid black;
  background-color: #1c1a1a;
  color: white;
}

.accordion summary:hover {
  background-color: #333030;
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 260ms ease, padding 260ms ease;
  padding: 0 16px;
  background-color: #1c1a1a;
  color: white;
  font-size: 25px;
  border: 1px solid black;
}

.accordion details[open] .content {
  padding: 12px 16px 16px;
  max-height: 600px;
}

.chev {
  transition: transform 200ms;
  font-size: 22px;
  transform-origin: center;
}

.accordion details[open] .chev {
  transform: rotate(90deg);
}

#leftarrow{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 30px;
  left: 0px;
  background-color: rgb(36, 36, 36);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  font-family: sans-serif;
}

#leftarrow:hover, #rightarrow:hover {
  background-color: rgb(70, 70, 70);
}


#rightarrow{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 30px;
  right: 0px;
  background-color: rgb(36, 36, 36);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  font-family: sans-serif;
}

@media (max-width: 960px) {
  #nav-div {
    padding-left: 30px;
    padding-right: 30px;
  }
  #nav-logo {
    width: 150px;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 15px;
  }
  #email {
    width: 250px;
    height: 45px;
  }
  #get-started-button {
    width: 150px;
    height: 45px;
    font-size: 14px;
  }
  #trending-div {
    gap: 20px;
  }
  .trending {
    width: 100px;
    height: 150px;
  }
  .trending span {
    font-size: 70px;
    left: -10px;
  }
  #reasons-div {
    flex-direction: column;
  }
  .reasons{
    width: 100%;
    height: auto;
  }
  #footer-links{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
  }
  h4{
    font-size: 14px;
    padding: 20px;
  }
  #email-input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  #email-again input{
    margin-bottom: 10px;
  }
  #language{
    width: 100px;
    height: 28px;
  }
  #sign-in-button{
    width: 60px;
    height: 28px;
    padding: 5px;
    font-size: 12px;
  }
  .accordion summary{
    font-size: 20px;
    height: 70px;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  #heading h1 {
    font-size: 32px;
  }
  #heading h3 {
    font-size: 12px;
  }
  #hero-text {
    gap: 30px;
  }
  #language{
    width: 80px;
    height: 25px;
    font-size: 10px;
  }
  #sign-in-button{
    width: 50px;
    height: 25px;
    padding: 5px;
    font-size: 10px;
  }
}



